ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_CHAIN_ID=5042002
PRIVATE_KEY=0x_your_deployer_private_key
OPERATOR_PRIVATE_KEY=0x_your_operator_private_key

AGENT1_PRIVATE_KEY=0x_rbi_watcher_key
AGENT2_PRIVATE_KEY=0x_macro_analyst_key
AGENT3_PRIVATE_KEY=0x_contrarian_key

USDC_ADDRESS=0x3600000000000000000000000000000000000000
USDC_DECIMALS=6

ANTHROPIC_API_KEY=sk-ant-xxx
